body{
    background-color: black;
    color: white;
}
.log{
    background-color: rgb(19, 19, 19);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    margin: 150px 300px;
}
.btn{
    padding: 12px;
    border-radius: 6px;
}